version: "3.9"

services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - VITE_WATCH=true
    depends_on:
      - backend

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    ports:
      - "5001:5001"
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=store_me
      - DB_USER=storeme
      - DB_PASSWORD=storemepass
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: store_me
      POSTGRES_USER: storeme
      POSTGRES_PASSWORD: storemepass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
